#root {

  --PrC: rgb(31, 126, 51);

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pageStyle{
  min-width: 50vh;
  max-width: 60vh;
}

.pageStyle div:first-child{
  background-color: var(--PrC);
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}

.pageStyle div:first-child p{
  list-style: square;
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;  
  background-color: whitesmoke;
  color: #323232;
  font-weight: bold;
  border-radius: 7px;
  text-wrap: nowrap;
}

.pageStyle div:first-child button {
  background-color: var(--PrC);
  border: whitesmoke solid 1px;
}

.pageStyle form{
  margin: 0.2rem 0;
  background-color: var(--PrC);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0px 0px 10px 10px;
  
}

.pageStyle form button{
  background-color: whitesmoke;
  color: #323232;
}

.pageStyle form input{
  height: 1.5rem;
  text-align: center;
}

.pageStyle form a{
  color: whitesmoke;
  text-decoration: underline;
} 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
